.sidebar{
    position:fixed;
    left:0;
    top:0;

    width:260px;

    height:100vh;

    background:rgba(255,255,255,.72);

    backdrop-filter:blur(24px);

    border-right:1px solid rgba(255,255,255,.65);

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    padding:28px 22px;

    box-shadow:0 12px 35px rgba(92,140,255,.08);

}

.sidebar-logo{

    display:flex;

    align-items:center;

    gap:14px;

    margin-bottom:50px;

}

.sidebar-logo img{

    width:52px;

    height:52px;

    border-radius:50%;

}

.sidebar-logo h2{

    font-size:30px;

    color:#17324D;

    margin:0;

}

.sidebar-logo span{

    color:#7D8FA6;

    font-size:13px;

}

.sidebar-menu{

    display:flex;

    flex-direction:column;

    gap:12px;

}

.sidebar-item{

    display:flex;

    align-items:center;

    gap:14px;

    height:56px;

    padding:0 18px;

    text-decoration:none;

    color:#607188;

    border-radius:18px;

    font-weight:600;

    transition:.3s;

}

.sidebar-item:hover{

    background:#EEF6FF;

    color:#5C8CFF;

    transform:translateX(6px);

}

.sidebar-item.active{

    color:#fff;

    background:linear-gradient(135deg,#5C8CFF,#78CFFF);

    box-shadow:0 18px 35px rgba(92,140,255,.28);

}

.logout-btn{

    height:56px;

    border:none;

    border-radius:18px;

    background:#fff;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:10px;

    color:#EF4444;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

    box-shadow:0 10px 24px rgba(0,0,0,.05);

}

.logout-btn:hover{

    background:#EF4444;

    color:#fff;

}